@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700');
@import url("https://fonts.googleapis.com/css?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kaki-orange-light: rgb(236, 150, 10);
  --kaki-orange-dark: rgb(232, 122, 4);

  --kaki-blue-light: #ddf2ff;
  --kaki-blue-dark: #0f4264;
}

html,
body {
  width: 100%;
  height: 100%;
  
  font-family: 'M PLUS Rounded 1c';
  font-weight: bold;

  @apply bg-gray-100 dark:bg-gray-800;
  margin: 0;
}

a {
  /* color: orangered;; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


nav {
  @apply bg-gray-100 dark:bg-gray-900 border-x-2 border-t-2 border-white;
  z-index: 10;
}

@media (prefers-color-scheme: dark) {
  nav {
    @apply border-x-2 border-t-2 border-black;
  }
}

nav::after {
  content: '';
  @apply absolute w-full h-0.5 bottom-0 left-0;
  background-color: rgba(114, 161, 28, 0.758);
  background: linear-gradient(45deg, rgba(201, 126, 13, 0.758) 0%, rgba(114, 161, 28, 0.758) 50%);
}

button {
  @apply p-0.5 cursor-pointer rounded-sm;
}

.kaki-button {
  padding: 0.5em;
  background-color: var(--kaki-orange-dark);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  @apply transition text-white shadow-md duration-150 ease-in-out
}

@media (prefers-color-scheme: dark) {
  .kaki-button {
    background-color: var(--kaki-orange-light);
    @apply text-gray-900;
  }
}

.kaki-button:hover {
  background-color: var(--kaki-orange-dark);
}

.color-orangered {
  color: var(--kaki-orange-dark);
  @apply drop-shadow-sm
}

@media (prefers-color-scheme: dark) {
  .color-orangered {
    color: var(--kaki-orange-light);
  }
}

#__next {
  width: 100%;
  height: 100%;
}

main {
  
  @apply h-full w-full m-0;

  font-size: 20px;
  
  color: var(--kaki-blue-dark);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  
  html {
    color-scheme: dark;
  }

  nav::after {
    background-color: rgba(114, 161, 28, 0.758);
    background: linear-gradient(45deg, rgba(105, 65, 6, 0.758) 0%, rgba(64, 90, 16, 0.758) 50%);
  }

  main {
    color:  var(--kaki-blue-light);
  }
  
}
