@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700');
@import url("https://fonts.googleapis.com/css?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {

  /*@apply block flex flex-row items-center place-content-center;
  @apply top-0 left-0 w-full p-4;
  @apply backdrop-blur-md font-mplus;*/

  background-color: rgba(120, 120, 100, 0.758);
  background: linear-gradient(45deg,rgba(40, 40, 36, 0.758) 0%, rgba(120, 120, 100, 0.758) 100%);
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  
  font-family: 'M PLUS Rounded 1c';
  font-weight: bold;

  background-color: #fdfef6;
  margin: 0;
}

a {
  /* color: orangered;; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

nav {
  @apply border border-solid border-y-2 ;
  border-color: rgb(155, 155, 153);
}

nav a {
  @apply font-bold;
}

button, button[type="submit"] {
  padding: 0.5em;
  background-color: rgb(0, 160, 180);

  color: #fffdf5;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  @apply transition shadow-md duration-150 ease-in-out
}

button:hover, form button[type="submit"]:hover {
  background-color: rgb(0, 137, 155);
}

.color-orangered {
  color: rgb(255, 115, 0);
  @apply drop-shadow-lg
}

#__next {
  width: 100%;
  height: 100%;
}

main {
  
  @apply h-full w-full m-0;

  font-size: 20px;

  
  color: #0f4264;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    main {
    color:  #b8b8db;
  }
}

.menuTop {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 0;
  font-size: 1em;
  color: rgb(233, 141, 12);
}

.menuTop h2 {
  margin: 0px;
}