@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700');
@import url("https://fonts.googleapis.com/css?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full m-0 bg-white dark:bg-gray-800;
  
  font-family: 'M PLUS Rounded 1c';
  font-weight: bold;
}

a {
  /* color: orangered;; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav {
  @apply relative bg-white dark:bg-gray-900 dark:text-white z-10;
}

nav::after {
  content: "";
  @apply absolute w-full h-1 bottom-0 left-0;
  border-color: rgb(176, 176, 176);
  background-color: rgba(114, 161, 28, 0.758);
  background: linear-gradient(45deg, rgba(201, 126, 13, 0.758) 0%, rgba(114, 161, 28, 0.758) 50%);
}

button, button[type="button"], button[type="submit"] {
  background-color: rgb(255, 115, 0);
  @apply p-2 font-bold cursor-pointer rounded-md transition text-white shadow-md duration-150 ease-in-out;
}

button:hover {
  background-color: rgb(255, 72, 0);
}

.color-orangered {
  color: rgb(236, 150, 10);
  @apply drop-shadow-sm
}

#__next {
  @apply w-full h-full;
}

main {
  @apply h-full w-full m-0 text-lg;
  color: #0f4264;
}

@media (prefers-color-scheme: dark) {
    main {
    color:  #f1f1fb;
  }
}