.content {
  width: 100%;
  height: 100%;

  padding: 2em;
  margin: 0px;
  font-size: 20px;

  
  color: #2f2f6e;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wordList {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr); /*define var() for num of colums; 1fr - one column per var amount*/
  --column-count: 4; /* Can adjust with media query */
  gap: 0.5em;
}

.wordCard {
  padding-bottom: 1em;
  background-color: #fff4e9;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

/* data attributes! less complex than e.g. changing class name */
.wordCard[data-learned="true"] {
  opacity: 0.75;
  background-color: #70554c;
  color: darkgrey;
  filter: grayscale(100%);
}

.wordCard p {
  position: relative;
}

.tango {
  color: coral;
}

.mora {
  position: relative;
}

.mora[data-pitch="peak"] {
  color: orangered;
}

.mora[data-pitch="high"]::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 1em;
  background-color: #330D00;
}

.wordCard[data-learned="true"] .mora[data-pitch="high"]::before {
  background-color: grey;
}

.wordCard[data-learned="true"] .mora[data-pitch="peak"]::before, .wordCard[data-learned="true"] .mora[data-pitch="peak"]::after {
  background-color: rgb(195, 195, 195);
}

.wordCard[data-learned="true"] .mora[data-pitch="peak"] {
  color: rgb(195, 195, 195);
}

.mora[data-pitch="peak"]::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 1em;
  background-color: orangered;
}

.mora[data-pitch="peak"]::after {
  content: "";
  position: absolute;
  left: 0.9em;
  height: 0.5em;
  width: 3px;
  background-color: orangered;
}

.learned::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  z-index: 5;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

button.deleteWord, button.editWord {
  margin: 0.5em;
  position: relative;
  z-index: 10;
}

[role="dialog"].editWord h3 {
  color: grey;
  font-weight: 300;
}

[role="dialog"].editWord {
  
  background-color: rgba(135, 135, 135, 0.419);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 50;

  text-align: center;
  padding: 3em;

  height: 100%;
  width: 100%;
}

.pitchDisplay {
  margin-bottom: 1em;
}

.studyCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.studyItem h2 {
  font-size: 4em;
}

.studyItem {
  width: 50%;
  text-align: center;
}

.studyItem .buttonGrid button.correct {
  background-color:rgb(192, 233, 112);
}
.studyItem .buttonGrid button.incorrect {
  background-color: rgb(238, 156, 105);
}


.buttonGrid {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr); /*define var() for num of colums; 1fr - one column per var amount*/
  --column-count: 2; /* Can adjust with media query */
  gap: 1em;
}
.studyItem .buttonGrid button {
  background-color: rgb(232, 242, 204);
  color:#2f2f6e;
  font-weight: 300;
}

.dialogPanel {
  font-size: 20px;
  
  box-shadow: 0px 0px 10px 2px rgba(83, 97, 85, 0.551);
  
  padding: 3em;
  padding-top: 1em;
  padding-bottom: 2em;

  border-radius: 20px;
  background-color: white;
}

.dialogPanel h3 {
  position: relative;
  font-size: 0.75em;
  top: 1em;
}

.content button.editWord {
  background-color: rgb(134, 191, 18);
}

.content button, .editWord button, .deleteWord button {
  padding: 1em;
  border: none;
  background-color: orangered;
  color: #fffdf5;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.wordCard[data-learned="true"] button {
  color: white;
  background-color: rgb(23, 23, 23);
}
