.tango {
    color: coral;
}

.learn {
    @apply relative h-full w-full;
    @apply flex flex-col basis-full justify-center items-center;
    @apply text-lg md:text-xl lg:text-2xl;
}

.categoryGrid {
    @apply grid grid-cols-5
}

.categoryGrid button {
    @apply text-white 
}

.categoryGrid[data-display="full"] {
    @apply w-3/4 gap-3 md:gap-6 
}

.categoryGrid[data-display="menu"] {
    @apply text-lg md:text-xl lg:text-2xl;
}

.categoryGrid[data-display="full"] button {
    @apply py-4 px-3 md:py-6;
}

.categoryGrid[data-display="menu"] button {
    @apply text-sm py-1 px-2 mr-2;
}


.word-info {
    background-color: rgb(255, 243, 238);
}

.buttonGrid button.correct:disabled {
    background-color:rgb(192, 233, 112);
}
.buttonGrid button.incorrect:disabled {
    background-color: rgb(238, 156, 105);
}

.buttonGrid {
    @apply grid grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-2 w-1/2 md:w-3/4 gap-2 md:gap-5 items-center;
}

.buttonGrid button {
    background-color: rgb(232, 242, 204);
    color:#2f2f6e;
    @apply text-base font-normal md:text-lg pt-3 shadow-md rounded-lg;
}

.buttonGrid button:hover:enabled {
    background-color: rgb(241, 245, 228);
}

.buttonGrid button:disabled {
    background-color: rgb(169, 173, 157);
    cursor: default;
}