.feedback {
    position: absolute;
    top: 10px;
    width: 71%;
}

.response .feedback p {
    font-size: 2em;
    color:#00a0b4;
    margin-right: auto;
    margin-left: auto;
}

.response {
    width: 100%;
}

.menuBottom {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 2em;
    font-size: 0.3em;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tango {
    color: coral;
}

.studyCard {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.studyItem h2 {
    font-size: 4em;
}

.studyItem {
    width: 75%;
    text-align: center;
}

.studyItem p {
    font-size: 1.5em;
}

.buttonGrid button.correct:disabled {
    background-color:rgb(192, 233, 112);
}
.buttonGrid button.incorrect:disabled {
    background-color: rgb(238, 156, 105);
}

.categoryGrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* define var() for num of colums; 1fr - one column per var amount */
    gap: 1em;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr); /* define var() for num of colums; 1fr - one column per var amount */
    --column-count: 2; /* Can adjust with media query */
    gap: 1em;
}

.categoryGrid button {
    font-size: 2em;
}

.buttonGrid button {
    background-color: rgb(232, 242, 204);
    color:#2f2f6e;
    font-weight: 300;
}

.buttonGrid button:hover:enabled {
    background-color: rgb(241, 245, 228);
    color:#2f2f6e;
    font-weight: 300;
}

.buttonGrid button:disabled {
    background-color: rgb(169, 173, 157);
    color:#2f2f6e;
    font-weight: 300;
    cursor: default;
}