.mora {
    position: relative;
    margin: 0.1em;
  }
  
.pitchDisplay {
    position: relative;
    display: block;
    margin-bottom: 1em;
}

.mora::before, .mora::after {
    content: "";
    position: absolute;
    top: -0.1em;
}

.mora::before {
    height: 3px;
    left: -0.1em;
    width: 1.2em;
}

.mora[data-pitch="low"]::before, .mora[data-pitch="start"]::before {
    height: 3px;
    left: -0.1em;
    width: 1.2em;
    top: 1.5em;
    background-color: #330D00;
}

.mora[data-pitch="start"]::after {
    height: 1.75em;
    width: 3px;
    background-color: #330D00;
}


.mora[data-characters="2"]::before {
    height: 3px;
    width: 2.2em;
}

.mora[data-pitch="high"]::before {
    background-color: #330D00;
}

.mora[data-pitch="peak"]::before, .mora[data-pitch="peak"]::after {
    background-color: orangered;
}
  
.mora[data-pitch="peak"]::after {
    height: 1.75em;
    width: 3px;
    left: 1em;
}

.mora[data-pitch="peak"][data-characters="2"]::after {
    left: 2em;
}

.mora[data-pitch="peak"] {
    color: orangered;
}
  
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
}