# Django #
*.log
*.pot
*.pyc
__pycache__

*.sqlite3
*.sql

media

kakidb
datadump.json
secrets.py

# Mac OS
__MACOSX
.DS_Store
._*

.Spotlight-V100
.Trashes

ehthumbs.db
Thumbs.db

# Virtual environments
*env

# VS Code
.vscode

# Node
node_modules/
.cache/
dist/
coverage/

logs
*.log
npm-debug.log*